.terms-page{
	padding: 42px 0 42px;
	.h1{
		margin-bottom: 23px;
	}
}
.profile-page{
	padding: 42px 0 68px;
	.h1{
		margin-bottom: 40px;
	}
	h4, .h4{
		font-size: 16px;
		margin-bottom: 16px;
	}
}
.accordeon{
	counter-reset: list;
	padding-bottom: 20px;
	margin-bottom: 20px;
	dl{
		margin: 0;
		background-color: $white;
		position: relative;
		
	}
	dl + dl{
		margin-top: 3px;
		@include media("<phone"){
			margin-top: 3px;
		}
	}
	dt{
		position: relative;
		border-bottom: 1px solid #CCCCCC;
		padding: 13px 10px 13px 45px;
		margin: 0;
		cursor: pointer;
		background: $alto;
		@include media("<phone"){
			padding: 13px 10px 13px 35px;
		}
	}
	dt:after{
		content: "";
		position: absolute;
		top: 50%;
		left: 18px;
		transform: translate(0, -50%) rotate(0.01deg);
		width: 18px;
		height: 18px;
		background: url(../images/arrow-acardeon.svg) no-repeat;
		background-size: 100% auto;
		transition: all 0.5s;
		@include media("<phone"){
			right: 14px;
		}
	}

	.current{
		
		&:after{
			color: $black;
		}
		dt{
			background: $alto;
			strong{
				color: $black;
			}
			&:after{
				background: url(../images/arrow-acardeon.svg) no-repeat;
				background-size: 100% auto;
				transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
			}
		}
		
	}
	dt.active strong{
		color: $black;
	}
	dl.active:after{
		color: $black;
	}
	dl.active{
		
	}
	dt.active:after{
		background: url(../images/arrow-acardeon.svg) no-repeat;
		background-size: 100% auto;
		transform: translate(0, -50%) rotate3d(1, 0, 0, 180deg);
	}
	dt span{
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 32px;
		font-weight: 400;
		text-transform: uppercase;
	}
	dt .ico{
		display: inline-block;
		vertical-align: middle;
		font-size: 0;
		line-height: 0;
		text-align: center;
		width: 32px;
		height: 32px;
		margin: 0 8px 0 0;
	}
	dt strong{
		display: flex;
		align-items: flex-start;
		position: relative;
		font-size: 17px;
		line-height: 20px;
		font-weight: bold;
		margin-left: 12px;
		margin-bottom: 0;
		@include media("<phone"){
			font-size: 15px;
		}
		&:before{
			counter-increment: list;
			content: counter(list) ".";
			display: inline-block;
			vertical-align: top;
			font-size: 17px;
			font-weight: bold;
			margin-right: 5px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $black;
			@include media("<phone"){
				font-size: 15px;
			}
		}
	}
	dd{
		position: relative;
		margin: -1px 0 0;
		padding: 11px 5px 20px 10px;
		font-size: 17px;
		line-height: 25px;
		color: $black;
		font-weight: 300;
		font-style: normal;
		@include media("<phone"){
			font-size: 17px;
			line-height: 20px;
			padding: 11px 5px 11px 10px;
		}
	}
	dd p{
		margin: 0 0 30px;
		@include media("<phone"){
			margin: 0 0 16px;
		}
	}
	dd p:last-child{
		margin: 0;
	}
	dd .content-item{
		&__list{
			margin: 0;
			padding: 0;
			list-style: none;
			counter-reset: list;
			li{
				position: relative;
				margin-bottom: 25px;
				font-size: 18px;
				font-weight: 300;
				line-height: 25px;
				@include media("<phone"){
					font-size: 15px;
					margin-bottom: 15px;
				}
				&:before{
					counter-increment: list;
					content: counters(list, ".") "";
					display: inline-block;
					vertical-align: top;
					font-size: 17px;
					font-weight: bold;
					margin-right: 5px;
					color: $black;
					@include media("<phone"){
						font-size: 15px;
					}
				}
			}
		}
	}
}
.form{
	.flex-container{
		display: flex;
		align-items: center;
		@include media('<370px'){
			flex-wrap: wrap;
		}
		.radio{
			margin: 0 20px 0 0;
			&:last-child{
				margin: 0;
			}
		}
		&_colums{
			@include media('<phone'){
				flex-direction: column;
			}
		}
		.characteristics-list__title{
			margin: 0 0 0 28px;
			@include media('<phone'){
				margin: 0 auto 0 0;

			}
		}
	}
	.nav{
		&-item{
			margin-right: 20px;
			&:last-child{
				margin-right: 0;
			}
		}
		&-link{
			position: relative;
			padding: 0 0 0 25px;
			cursor: pointer;
			line-height: 20px;
			display: inline-block;
			color: #666;
			&.active{
				&:after{
					opacity: 1;
					visibility: visible;
				}
			}
			&:before{
				content: '';
				position: absolute;
				left: 0;
				top: 1px;
				width: 17px;
				height: 17px;
				border: 1px solid #666;
				border-radius: 100%;
				background: #fff;
			}
			&:after{
				content: '';
				width: 11px;
				height: 11px;
				background: #006EBD;
				position: absolute;
				top: 4px;
				left: 3px;
				border-radius: 100%;
				-webkit-transition: all 0.2s ease;
				-o-transition: all 0.2s ease;
				transition: all 0.2s ease;
				opacity: 0;
				visibility: hidden;
			}
		}
	}
}
.form-link-box{
	display: block;
	margin-top: 30px;
	@include media('<tablet'){
		margin-top: 10px;
		margin-bottom: 20px;
	}
}
.form-btn-box{
	display: block;
	max-width: 370px;
	margin: 50px auto 0;
}
.form-link{
	position: relative;
	display: inline-block;
	margin-right:12px;
	font-size: 16px;
	line-height: 22px;
	transition: all .2s;
	@include media('<phone'){
		margin-bottom: 10px;
	}
	&:last-child{
		margin-right: 0;
	}
	&:before{
		content: '';
		display: inline-block;
		vertical-align: top;
		margin-right: 6px;
		width: 19px;
		height: 19px;
	}
	&_change{
		color: #006ebd;
		&:before{
			background: url(../images/change-ico.svg)50% 50% no-repeat;
			background-size: 100% auto;
		}
		&:hover{
			color: darken(desaturate(#006ebd, 16.15), 5.5);
		}
	}
	&_remove{
		color: #9E1212;
		&:before{
			background: url(../images/remove-ico.svg)50% 50% no-repeat;
			background-size: 100% auto;
		}
		&:hover{
			color: darken(desaturate(#9E1212, 16.15), 5.5);
		}
	}

}
.form-control{
	&_promo{
		max-width: 250px;
		@include media('<phone'){
			max-width: 100%;
			margin-bottom: 10px;
		}
	}

}
.profile{
	border: 1px solid #CCCCCC;
	box-sizing: border-box;
	box-shadow: 20px 30px 40px rgba(0, 0, 0, 0.0708588);
	padding: 20px 20px 40px;
	@include media('<phone'){
		padding: 20px 10px 20px;
	}
}

.create{
	padding: 4px 0 0;
	.images {
		display: flex;
		flex-wrap:  wrap;
		margin: 0 -10px;
	}
	.images li{
		width: 33.333%;
		min-width: 190px;
		padding: 0 10px;
		margin-bottom: 10px;
		border-radius: 4px;
		@include media('<phone'){
			width: 50%;
			min-width: 145px;
		}
	}
	.images li .img {
		width: 100%;
		height: 170px;
		background-size: cover;
		margin-right: 10px;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		@include media('<phone'){
			height: 145px;
		}
	}
	.images li .img:nth-child(3n) {
		margin-right: 0;
	}
	.images li a,
	.images li p{
		//text-transform: capitalize;
		z-index: 2;
		word-break: break-all;
		margin-top: 10px;
	}
	.images li p{
		color: #666;
		@include media('<phone'){
			font-size: 14px;
		}
	}
	.images li a{
		color: $blue;
		&:hover{
			color: darken(desaturate($blue, 16.15), 5.5);
		}
	}
	.images .pic {
		position: relative;
		margin-bottom: 10px;
		border-radius: 0;
		background-color: rgba($gray_light, 0.4);
		border: 1px solid #ccc ;
		text-align: center;
		padding: 40px 0;
		height: 170px;
		color: rgba(0, 0, 0, 0.4);
		font-size: 14px;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		@include media('<phone'){
			height: 145px;
		}
		.create__file-descr{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		.create__file-icon{
			display: block;
			width: 24px;
			margin: 0 auto 4px;
			opacity: 0.6;
		}
		.create__file-text{
			display: block;
			font-weight: 400;
			font-size: 14px;
			line-height: 18px;
			white-space: nowrap;
			text-align: center;
			margin: 0;
			color: rgba(0, 0, 0, 0.4);
		}
	}
}

.public-holder{
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
	.data{
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
	}
	.share{
		display: flex;
		align-items: center;
		position: relative;
		font-size: 16px;
		line-height: 22px;
		color: $black;
		font-weight: normal;
		&:after{
			content: '';
			display: inline-block;
			vertical-align: top;
			margin-left: 12px;
			background: url(../images/facebook-ico.svg)50% 50% no-repeat;
			background-size: 100% auto;
			width: 26px;
			height: 26px;
		}
	}
}
.inner-page_public{
	ul{
		flex-direction: column;
		li{
			max-width: 100% !important;
			flex:initial !important;
		}
	}

}
.row__more{
	margin-bottom: 45px;
	@include media('<phone'){
		margin-bottom: 25px;
	}
}
.product{
	display: block;
	&__descr{
		background: $white;
		padding: 20px 15px;
		color: #1A1919;

	}
	&__data{
		display: block;
		color: #666;
		font-size: 14px;
		line-height: 19px;
		margin-bottom: 5px;
	}
	&__title{
		display: block;
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
	}
}

.page404{
	display: block;
	position: relative;
	background: url(../images/bg-404.jpg)50% 50% no-repeat;
	background-size: cover;
	height: 700px;
	@include media ('<phone'){
		height: 600px;
	}
	&__content{
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		text-align: center;
		@include media ('<phone'){
			margin: 0 15px;
		}
	}
	&__title{
		display: block;
		font-size:147px;
		line-height: 172px;
		font-weight: 500;
		color: $white;
		font-family: 'Roboto', sans-serif;
	}
	&__subtitle{
		display: block;
		color: $white;
		font-size:36px;
		line-height: 49px;
		font-weight: bold;
		margin-bottom: 17px;
	}
	&__text{
		font-size: 16px;
		line-height: 22px;
		font-weight: bold;
		text-align: center;
		color: $white;
		margin-bottom: 50px;
	}
}
.form-btn-box_small{
	margin-top: 0;
	max-width: 300px;
}
