.checkout{
	padding: 43px 0 14px;
	@include media("<phone"){
		padding: 30px 0 10px;
	}
	.clearfix{
		*zoom: 1
	}
	.clearfix:before,
	.clearfix:after{
		display: table;
		content: "";
		line-height: 0
	}
	.clearfix:after{
		clear: both
	}
	h4, .h4{
		font-size: 16px;
		margin-bottom: 16px;
	}
	.checkbox-tooltip{
		display: inline-block;
		vertical-align: top;
		.checkbox-input-wrapper__inner{
			margin-bottom: 0;
		}
	}
	.checkbox-input-wrapper__inner{
		margin-bottom: 4px;
	}
	.row.align-items-center{
		margin-bottom: 32px;
	}
	.select2-container{
		width: 100% !important;
		@include media("<phone"){
			margin-bottom: 16px;
		}
	}
	.select2-container--basic .select2-dropdown{
		left: 0;
	}
	.select2-container--basic .select2-selection--single .select2-selection__rendered {
		height: 40px;
		width: 100%;
		border: 1px solid rgba(0, 0, 0, 0.4);
		padding: 8px 25px 8px 15px;
		min-width: 200px;
		//color: #fff;
		font-size: 16px;
		line-height: 24px;
		//background: url(../images/icons/chevron-down-w.svg) no-repeat center right 15px/16px 16px;
		background-position: 96% 50%;
		display: inline-flex;
		align-items: center;
	}
	&__personal-data{
		.checkbox-tooltip{
			display: inline-block;
			vertical-align: top;
			margin-top: 6px;
		}
		> .row{
			[class*="col-"]{
				&:first-child{
					@include media("<tablet"){
						margin-bottom: 24px;
					}
				}
			}
		}
	}
	&__location{
		.checkout-toggle{
			position: relative;
			@include media(">phone"){
				pointer-events: none;
			}
			@include media("<phone"){
				padding-right: 30px;
				&:after{
					content: '';
					position: absolute;
					top: 50%;
					right: 12px;
					transform: translate(0, -50%);
					width: 18px;
					height: 18px;
					background: url(../images/icons/chevron-down.svg) no-repeat 50% 50%;
					background-size: 15px auto;
				}
			}
		}
		.collapse:not(.show) {
			@include media(">phone"){
				display: flex;
			}
		}
	}
	&__faq{
		&-holder{
			margin: 0 auto;
			max-width: 566px;
		}
		.form-control{
			height: 182px;
			padding: 10px 20px;
			line-height: 22px;
		}
	}
	&__payment{
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
		color: $gray_text;
		h4, .h4{
			margin-bottom: 18px;
		}
		p{
			margin-bottom: 0;
		}
		&-data{
			&-title{
				display: block;
				font-weight: 400;
				font-size: 14px;
				line-height: 20px;
				color: $gray_text;
				margin-bottom: 8px;
			}
			h4, .h4{
				margin-bottom: 0;
			}
		}
		&-type{
			&.row{
				[class*="col-"]{
					&:nth-child(2){
						@include media("<phone"){
							order: 10;
							margin-bottom: 0;
						}
					}
					&:last-child{
						@include media("<phone"){
							margin-bottom: 34px !important;
						}
					}
				}
			}
		}
		.row{
			position: relative;
			padding-bottom: 40px;
			margin-bottom: 40px;
			@include media("<phone"){
				padding-bottom: 34px;
				margin-bottom: 34px;
			}
			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				left: 15px;
				right: 15px;
				height: 1px;
				background: #BDBDBD;
			}
			&:last-child{
				padding-bottom: 0;
				margin-bottom: 0;
				@include media("<phone"){
					padding-bottom: 0;
					margin-bottom: 0;
				}
				&:after{
					display: none;
				}
			}
			> [class*="col-"]{
				margin-bottom: 34px;
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
	}
}

.submitted{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $white;
	flex-flow: column;
	justify-content: center;
	text-align: center;
	display: none;
	&.active{
		display: flex;
	}
	&-circle{
		display: block;
		margin: 0 auto 20px;
		width: 46px;
		img{
			display: block;
			width: 100%;
		}
	}
	p{
		margin-bottom: 0;
	}
}

.wizard,
.tabcontrol{
	display: block;
	width: 100%;
	padding-top: 28px;
}
.wizard a,
.tabcontrol a{
	outline: 0
}
.wizard ul,
.tabcontrol ul{
	list-style: none!important;
	padding: 0;
	margin: 0
}
.wizard ul>li,
.tabcontrol ul>li{
	display: block;
	padding: 0
}
.wizard>.steps .current-info,
.tabcontrol>.steps .current-info{
	position: absolute;
	left: -999em
}
.wizard>.content>.title,
.tabcontrol>.content>.title{
	position: absolute;
	left: -999em
}
.wizard>.steps{
	position: relative;
	display: block;
}
.wizard>.steps ul{
	display: flex;
	justify-content: center;
	margin: 0 -40px 26px;
	@include media("<phone"){
		margin: 0 -10px 20px;
	}
}
.wizard>.steps .number{
	@include media("<400px"){
		display: block;
	}
}
.wizard>.steps>ul>li{
	display: block;
	padding: 0 40px;
	width: auto;
	@include media("<phone"){
		width: 25%;
		padding: 0 10px;
	}
}
.wizard>.steps a{
	position: relative;
	display: block;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #000;
	width: auto;
	height: 100%;
	margin: 0;
	padding: 0 0 10px;
	text-decoration: none;
	@include media("<phone"){
		font-size: 15px;
	}
}
.wizard>.steps a:after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3px;
	background: #000;
	opacity: 0;
	visibility: hidden;
}

.wizard>.steps .disabled a{
	color: #000;
	cursor: default;
}
.wizard>.steps .current a{
	color: #000;
	cursor: default;
	font-weight: 700;
}
.wizard>.steps .current a:after{
	opacity: 1;
	visibility: visible;
}
.wizard>.steps .done a{
	color: #006EBD;
}
.wizard>.steps .done a:after{
	opacity: 1;
	visibility: visible;
	background: #006EBD;
}
.wizard>.steps .error a{
	color: #000;
}


.wizard>.content{
	position: relative;
	background: #FFFFFF;
	box-shadow: 20px 30px 40px rgba(0, 0, 0, 0.0708588);
	border: 1px solid #BDBDBD;
	display: block;
	padding: 36px 36px 118px;
	min-height: 500px;
	width: auto;
	@include media("<phone"){
		padding: 20px 20px 88px;
		min-height: 300px;
	}
}
.wizard>.content>.body{
	float: left;
	position: relative;
	width: 100%;
	display: none !important;
}
.wizard>.content>.body.current{
	display: block !important;
}
.wizard>.actions{
	position: relative;
	top: -80px;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	width: 100%;
	min-height: 40px;
	padding: 0 36px;
	@include media("<phone"){
		top: -60px;
		padding: 0 20px;
	}
}
.wizard>.actions ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
	@include media("<phone"){
		margin: 0 -8px;
	}
}
.wizard>.actions ul li{
	flex: 0 0 268px;
	padding: 0 15px;
	@include media("<phone"){
		padding: 0 8px;
		flex: 1 1 70%;
	}
}
.wizard>.actions ul li a{
	@extend .btn;
	@extend .btn-primary;
	width: 100%;
	@include media("<phone"){
		padding: 9px 6px;
	}
}
.wizard>.actions ul li:first-child{
	box-shadow: 20px 30px 40px rgba(0, 0, 0, 0.0708588);
	@include media("<phone"){
		flex: 1 1 30%;
	}
}
.wizard>.actions ul li:first-child a{
	@extend .btn-white;
}
.wizard>.actions ul li.disabled a{
	pointer-events: none;
}


.contact{
	padding: 40px 0;
	&__row{
		[class*="col-"]{
			&:first-child{
				@include media("<tablet"){
					margin: 0 0 30px;
				}
				@include media("<phone"){
					margin: 0 0 10px;
				}
			}
		}
	}
	&__holder{
		padding: 20px 18px;
		height: 100%;
		background: #FFFFFF;
		border: 1px solid #CCCCCC;
		box-shadow: 20px 30px 40px rgba(0, 0, 0, 0.0708588);
	}
	&__list{
		margin: 0;
		padding: 30px;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
		height: 100%;
		@include media("<tablet"){
			height: auto;
			padding: 0;
		}
		@include media("<phone"){
			display: flex;
			flex-flow: column;
			margin: -20px 0;
		}
	}
	&__item{
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: flex-start;
		flex: 1 1 50%;
		height: 50%;
		&:nth-child(2n+1){
			padding-right: 40px;
			border-right: 1px solid #C4C4C4;
			@include media("<tablet"){
				padding-right: 20px;
			}
		}
		&:nth-child(2n){
			padding-left: 40px;
			@include media("<tablet"){
				padding-left: 20px;
			}
		}
		&:nth-child(3),
		&:nth-child(4){
			justify-content: flex-end;
			padding-bottom: 18px;
			&:before{
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				height: 1px;
				background-color: #C4C4C4;
				@include media("<phone"){
					display: none;
				}
			}
		}
		&:nth-child(3){
			&:before{
				right: 40px;
				@include media("<tablet"){
					right: 20px;
				}
			}
		}
		&:nth-child(4){
			&:before{
				left: 40px;
				@include media("<tablet"){
					left: 20px;
				}
			}
		}
		@include media("<tablet"){
			padding: 20px 0;
			height: auto;
		}
		@include media("<phone"){
			display: flex;
			flex-flow: row nowrap;
			justify-content: flex-start !important;
			padding: 20px 0 !important;
			border: 0 !important;
			border-bottom: 1px solid #C4C4C4 !important;
			&:last-child{
				border-bottom: 0 !important;
			}
		}
		&-ico{
			display: block;
			width: 24px;
			min-width: 24px;
			margin-bottom: 24px;
			@include media("<phone"){
				margin: 0 12px 0 0;
			}
			img{
				display: block;
				width: 100%;
			}
		}
		&-link{
			display: block;
			vertical-align: top;
			font-weight: 400;
			font-size: 16px;
			line-height: 22px;
			color: $black;
			+ .contact__item-link{
				margin-top: 10px;
			}
			&.facebook{
				@include media("<phone"){
					display: flex;
				}
				.contact__item-ico{
					display: inline-block;
					vertical-align: bottom;
					margin-bottom: 0;
					margin-left: 8px;
					@include media("<phone"){
						margin: 0 12px 0 0;
						order: -1;
					}
				}
			}
		}
	}

}
.map{
	display: block;
	width: 100%;
	height: 444px;
	margin: 30px 0 0;
	padding: 0;
	border: 0;
	@include media("<phone"){
		height: 340px;
		margin-top: 10px;
	}
}